<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我画你猜</title>
    <link rel="stylesheet" href="./game.css">
    <script type="text/javascript" src="vue.js"></script>
</head>

<body>
<div id="app">
    <section id="game">
        <h1>我画 & 你猜</h1>
        <div class="wrap clearfix">
            <canvas id="canvas" width="500" height="400" @mousemove="drawline" @mousedown="startDraw"
                    @mouseup="endDraw"></canvas>
            <div id="history-wrapper">
                <ul id="history"></ul>
            </div>
        </div>
        <h1>{{questions.content}}</h1>
        <div class="question" id='question'>
            <ul>
                <li :class='["classify", (showColor && item.value == currentIndex)? (currentIndex==rightAnswer ? "choose_right":"choose_wrong") : "not_choose"]'
                    v-for="(item, key, index) in answers" @click="sendAnswer(item)">{{item.content}}
                </li>
            </ul>
        </div>

    </section>

    <section class="user_list">
        房间内用户:
        <ul>
            <li v-for="(item, key, index) in users">{{item.name}}-得分：{{item.score}}</li>
        </ul>
        分数:
        <ul>
            <li v-for="(item, key, index) in score">{{item.name}}:{{item.score}}</li>
        </ul>
        <p>画笔选项</p>
        <div class="draw_options" v-show="drawingUser == name">
            <p>画笔颜色</p>
            <div class="color">
                <label><input type="radio" name="radio" value="#ff0000" v-model="current_color"><span
                        class="red"></span></label>
                <label><input type="radio" name="radio" value="#000000" v-model="current_color"><span
                        class="black"></span></label>
                <label><input type="radio" name="radio" value="#33ccff" v-model="current_color"><span
                        class="blue"></span></label>
                <label><input type="radio" name="radio" value="#339933" v-model="current_color"><span
                        class="green"></span></label>
            </div>
            <p>画笔粗细</p>
            <div class="pen_width">
                <label><input type="radio" name="radio2" value="1" v-model="penWidth">1</label>
                <label><input type="radio" name="radio2" value="3" v-model="penWidth">3</label>
                <label><input type="radio" name="radio2" value="5" v-model="penWidth">5</label>
                <label><input type="radio" name="radio2" value="7" v-model="penWidth">7</label>
            </div>
        </div>
        <p>座位</p>
        <ul class="seats">
            <li @click="setSeat(key,item)" v-for="(item, key, index) in seats">{{item.name}}</li>
        </ul>
    </section>
    <div class="clearfix"></div>
    <div class="operate">
        <p>当前在画的人：{{drawingUser}}</p>
        <p>当前登录用户：{{name}}</p>
        <p>系统：{{extra}}</p>
        <p>系统：{{remain_time}}</p>
        <input type="text" id="input" v-model="sendText">
        <input type="button" @click="sendmsg" value="发送">
        <input type="button" @click="startgame" value="开始" v-show="gameStatus=='wait'">
        <input type="button" id="join" value="登录" @click="login">
        <button class="send_pic" @click="showPicBox=!showPicBox">
            发送表情
            <ul class="list" v-show="showPicBox">
                <li v-for="(url, key, index) in imageList" ><img :src="url" alt="" @click="sendPic(url)"></li>
            </ul>
        </button>
    </div>

    <div id="diglogList">
        <ul class="scoreList">
            <li v-for="(item, key, index) in scoreList">
                <div v-if="item.content_type=='text'">{{item.name}}说:{{item.content}}</div>
                <div v-if="item.content_type=='image'"><img :src="item.url" alt=""></div>
            </li>
        </ul>
    </div>

</div>

</body>
</html>
<script>

</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="./chat.js">
</script>
